@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Nunito, snas-serif;
    line-height: 1.7;
    padding: 0;
    margin: 0;
}

header {
    font-weight: bolder;
    font-size: 1.5em;
}

nav {
    border-right: 3px solid rgb(122, 120, 120);
    width: 1000px;   
}

nav header {
    padding: 15px;
}

nav a {
    display: block;
    border-top: 1px solid #333;
    padding: 15px;
    text-decoration: none;
    color: #333;
}

code pre {
    background: rgb(238, 226, 226);
    padding: 0px;
}

main {
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 500px;
}

@media (max-width: 576px) {
    body {
        flex-direction: column;
    }

    nav {
        border-bottom: 3px solid #333;
        overflow-y: scroll;
        height: 300px;
        
    }

    main {
        overflow-y: unset;
    }
}